<div class='loading' ng-if='loading'>Loading stuff...</div>
<div class='countryData' ng-if='capital'>
	<h3>{{city}} {{capital.countryName}}</h3>
	<img class='map' ng-src="http://www.geonames.org/img/country/250/{{id}}.png" />
	<img class='flag' ng-src="http://www.geonames.org/flags/x/{{mapId}}.gif" />
	<p>
	  Capital Population: {{capital.population}}
	  Capital: {{capital.toponymName}}
	</p>
	<div class='neighbors' ng-if='neighbors'>
	  <ul class='list-inline'>
	    <li>
	    	<ng-pluralize count='neighbors.length' when="{'0': 'No neighboring countries', 
	    	'1' : '1 neighbor:', 'other': '{} neighbors:'}"></ng-pluralize>
	    </li>
	    <li ng-repeat='neighbor in neighbors'>
	      <a ng-href='/#/countries/{{neighbor.countryCode}}/{{neighbor.capital}}'>{{neighbor.countryName}}</a>
	    </li>
	  </ul>
	</div>
	<ul class='list-inline'>
		<li><a href='#/'>Home</a></li>
		<li><a href='#/countries'>Countries</a></li>
	</ul>
	
</div>