.center {
  text-align: center;
}

.scroll {
  height: 450px;
  width: 100%;
  overflow-y: scroll;
}

.data.ng-enter {
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
	opacity: 0;
}

.data.ng-enter.ng-enter-active {
	opacity: 1;
}